{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    ["lodash"],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
  ],
}
