.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  
  p {
    font-size: 32px;
  }

  .example {
    display: flex;
    margin-left: 10px;
    align-items: center;
    
    >span {
      font-size: 25px;
      margin-right: 15px;
    }
  }
}
